<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>21.1</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.mr.tool.EncodingListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>MediaServlet</display-name>
		<servlet-name>mediaServlet</servlet-name>
		<servlet-class>com.mr.servlet.MediaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mediaServlet</servlet-name>
		<url-pattern>/mediaServlet</url-pattern>
	</servlet-mapping>
</web-app>